body {
     background-color: #ffd1df;
}

inc_font {
    font-style: normal;
    font-size: 150%;
}

#centeredImage {
  margin: 20px auto; /* Center the container horizontally */
  text-align: center; /* Center content inside */
}

#centeredImage img {
  max-width: 40% !important; /* Make sure the image scales well */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #ccc; /* Optional border */
  display: block; /* Ensure proper alignment */
  margin: 0 auto; /* Center the image horizontally */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

#copyButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

#copyButton:hover {
  background-color: #45a049;
}
