body {
     background-color: #ffd1df;
}

inc_font {
    font-style: normal;
    font-size: 150%;
}

#centeredImage {
  margin: 20px auto; /* Center the container horizontally */
  text-align: center; /* Center content inside */
}

#centeredImage img {
  max-width: 10% !important; /* Make sure the image scales well */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #ccc; /* Optional border */
  display: block; /* Ensure proper alignment */
  margin: 0 auto; /* Center the image horizontally */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}
